<div class="d-flex justify-content-around m-3">
    <div>
        Filter By Category :
        <select [(ngModel)]="selectedCategory">
            <option *ngFor="let category of categories" [value]="category.id">{{
                category.name }}</option>
        </select>
    </div>
    <div>
        Filter By Price :
        <select [(ngModel)]="priceFiltervlaue">
            <option *ngFor="let price of priceFilter" [value]="price">{{price[0]}} - {{price[1]}}
            </option>
        </select>
    </div>
    <!-- <div>
        <label for="Search"> <input type="search" placeholder="Searcg about product " [(ngModel)]="searchFilter">
        </label>
    </div> -->
</div>

<app-product [filterCategoryInChild]="selectedCategory" [filterByPriceInChild]="priceFiltervlaue"
    (_EventEmitter)="addToCart($event)"></app-product>

