<div class="row ">
    <ng-container *ngFor="let prd of productsWithFiltered">
        <div class="col-sm-4 mb-4 position-relative" [class.bg-warning]="prd.quantity == 1">
            <img src="{{prd.image}}" class="img-fluid" [routerLink]="['/productDetails',prd.id]">
            <img class="product-image" src="{{prd.image}}" alt="">
            <h4 [ngClass]="(prd.price>1000)? 'text-warning':'text-info'">{{prd.name| uppercase}}</h4>
            <h4>{{prd.price|currency}}</h4>
            <h4>
                <ng-container [ngSwitch]="prd.quantity" *ngIf="prd.quantity>0 ;else outReferance">
                    <ng-container *ngSwitchCase="1">last one item </ng-container>
                    <ng-container *ngSwitchCase="2">last two items </ng-container>
                    <ng-container *ngSwitchDefault> {{prd.quantity}} in stock </ng-container>
                </ng-container>
                <ng-template #outReferance> out of stock </ng-template>
            </h4>
            <ng-template #outreferance> just small ammount remains </ng-template>
            <button class="btn btn-danger" [disabled]="prd.quantity==0" (click)="addToCart(prd)">Add To Cart</button>
            <button class="btn btn-danger mx-2" [disabled]="prd.quantity==0" (click)="logo(prd)">Buy Now</button>
            <button class="btn btn-danger mx-2" [disabled]="prd.quantity==0" (click)="deletePrd(prd)">Delete</button>
        </div>
    </ng-container>
</div>